body {
    background-image: url("https://user-images.githubusercontent.com/74163812/108749074-5a9a0500-750d-11eb-8d56-f4ebfd5cf52a.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.jumbotron{
    background-image: url( https://user-images.githubusercontent.com/74163812/108761393-cc2d7f80-751c-11eb-890f-328e32810924.jpg)!important ;
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: auto;
    height: 900px;
    width: 750px;
    margin-top:10px;
    margin-left: 30px;
    font-family: 'Molle', cursive;
    text-align: center;
    border:3px;
    border-color: black;
    border-style:solid; 
}

.display-4{
    background-color: rosybrown;
    font-family: 'Molle', cursive;
    text-align: center;
}

.dropdown-button{
    margin-top: 20px;
}

.fa-star{
    margin-top: 30px;
    color: pink;
}

.fa-guitar{
    margin-top: 30px;
    color: rgb(58, 15, 15);
}

.fa-pagelines{
    margin-top: 30px;
    color: rgb(1, 63, 1);
}

.fa-water{
    margin-top: 30px;
    color: rgb(3, 94, 94);
}

.fa-running{
    margin-top: 30px;
    color: rgb(226, 162, 42);
}

.fa-bug{
    margin-top: 30px;
    color: rgb(170, 162, 92);
}

.fa-umbrella{
    margin-top: 30px;
    color: black;
}

.fa-paw{
    margin-top: 30px;
    color: rgb(66, 2, 66);
}

.fa-leaf{
    margin-top: 30px;
    color: rgb(112, 167, 31);
}

.blur{
    margin-top: 40px;
    height: 500px;
    width: 400px;
}

.blur2{
    margin-top: 40px;
    height: 300px;
    width: 200px;
}

.dryad{
    margin-top: 40px;
    height: 500px;
    width: 455px;
}

.dryad2{
    margin-top: 40px;
    height: 500px;
    width: 180px;
}

.pixie{
    margin-top: 40px;
    height: 620px;
    width: 355px;
}

.pixie2{
    margin-top: 40px;
    height: 300px;
    width: 300px;
}

.navbar{
    margin-bottom: 20px;
}

.navbar-brand{
    margin-top: 10px;
    font-size: 150% !important;
    font-family: 'Molle', cursive;
}

.saytr{
    margin-top: 40px;
    height: 500px;
    width: 375px;
}

.saytr2{
    margin-top: 40px;
    height: 350px;
    width: 250px;
}

.hag{
    margin-top: 40px;
    height: 600px;
    width: 550px;
}

.meenlock{
    margin-top: 40px;
    height: 600px;
    width: 350px;
}

.meenlock2{
    margin-top: 40px;
    height: 250px;
    width: 230px;
}

.sprite{
    margin-top: 40px;
    height: 300px;
    width: 500px;
}

.sprite2{
    margin-top: 40px;
    height: 350px;
    width: 330px;
}

.boggle{
    margin-top: 40px;
    height: 600px;
    width: 550px;
}

.dark{
    margin-top: 40px;
    height: 500px;
    width: 375px;
}

.dark2{
    margin-top: 40px;
    height: 350px;
    width: 250px;
}

.dropdownBtn{
    background-color:#457777;
}

.material-icons{
    background-color:#457777;
}

#save-button{
    background-color:#457777;
    position: absolute;
    right:    0;
    top:   0;
    margin-right: 15px;
    margin-top: 5px;
    font-family: 'Molle', cursive;
    text-align: center;
}

.dropdown-button{
    background-color:#457777;
}

#dropdown-content{
    background-color:#457777;
}

.skills-container{
    padding-top: 20px;
    padding-left: 10px;
    text-align: left;
    height: 600px;
    width: 205px;
    background-color:white;
    border:3px;
    border-color: black;
    border-style:solid; 
    overflow: auto;
    font: black;
}

#arcana2{
    width: 30px;
}

#acrobatics2{
    width: 30px;
}

#animal2{
    width: 30px;
}

#athletics2{
    width: 30px;
}

#deception2{
    width: 30px;
}

#history2{
    width: 30px;
}

#insight2{
    width: 30px;
}

#intimidation2{
    width: 30px;
}

#invest2{
    width: 30px;
}

#med2{
    width: 30px;
}

#nature2{
    width: 30px;
}

#percep2{
    width: 30px;
}

#perform2{
    width: 30px;
}

#pers2{
    width: 30px;
}

#rel2{
    width: 30px;
}

#sleight2{
    width: 30px;
}

#stealth2{
    width: 30px;
}

#surv2{
    width: 30px;
}

.card-content{
    padding:0px !important;
    padding-top: 4px !important;
}

input{
    font-size: large !important;
    height: 17px !important;
}

ul{
    margin:0px !important;
}

p{
    margin:0px !important;
}

.containerStat{
    grid-column: 1;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 15px;
}

label{
    margin-bottom: 0px !important;
    padding: 0px !important;
}

#str{
    grid-column: 1;
    height: 120px;
    width: 100px;
    background-color: black;
    margin-left: 5px;
    margin-bottom: 35px;
    font-family: 'Molle', cursive;
    color:   rgb(128, 161, 141);
    text-align: center;
    font-size: 18px;
}
#dex{
    grid-column: 1;
    height: 120px;
    width: 100px;
    background-color: black;
    margin-left: 5px;
    margin-bottom: 35px;
    font-family: 'Molle', cursive;
    color:   rgb(128, 161, 141);
    text-align: center;
    font-size: 18px;
}
#con{
    grid-column: 1;
    height: 120px;
    width: 100px;
    background-color: black;
    margin-left: 5px;
    margin-bottom: 35px;
    font-family: 'Molle', cursive;
    color:  rgb(128, 161, 141);
    text-align: center;
    font-size: 16px;
}
#intl{
    grid-column: 1;
    height: 120px;
    width: 100px;
    background-color: black;
    margin-left: 5px;
    margin-bottom: 35px;
    font-family: 'Molle', cursive;
    color:  rgb(128, 161, 141);
    text-align: center;
    font-size: 16px;
}
#wis{
    grid-column: 1;
    height: 120px;
    width: 100px;
    background-color: black;
    margin-left: 5px;
    margin-bottom: 35px;
    font-family: 'Molle', cursive;
    color:  rgb(128, 161, 141);
    text-align: center;
    font-size: 18px;
}
#charisma{
    grid-column: 1;
    height: 120px;
    width: 100px;
    background-color: black;
    margin-left: 5px;
    margin-bottom: 35px;
    font-family: 'Molle', cursive;
    color:  rgb(128, 161, 141);
    text-align: center;
    font-size: 18px;
}


#str2{
    height: 75px !important;
    font-family: 'Molle', cursive;
    text-align: center;
    font-size: 40px !important;
}

#dex2{
    height: 75px !important;
    font-family: 'Molle', cursive;
    text-align: center;
    font-size: 40px !important;
}

#con2{
    height: 75px !important;
    font-family: 'Molle', cursive;
    text-align: center;
    font-size: 40px !important;
}

#intl2{
    height: 75px !important;
    font-family: 'Molle', cursive;
    text-align: center;
    font-size: 40px !important;
}

#wis2{
    height: 75px !important;
    font-family: 'Molle', cursive;
    text-align: center;
    font-size: 40px !important;
}

#charisma2{
    height: 75px !important;
    font-family: 'Molle', cursive;
    text-align: center;
    font-size: 40px !important;
}